
  .table .tituloCalc {
    color: palevioletred; /* Cambiar el color del texto */
    text-align: center; /* Alinear el texto al centro */
    font-weight: 1000; /* Hacer el texto más grueso */
    font-family: Arial, sans-serif; /* Cambiar el tipo de letra */
    font-style: italic; /* Hacer el texto cursiva */
    height: 50px;
  }


  input {
    border-color: rgba(165, 42, 42, 0.596);
    border-radius: 10px;
    border-top: 0cap; 
    cursor: pointer;
    font-weight: 1000;
    width: 100%; /* Mantener el ancho al 100% del contenedor */
    height: 50px;
    text-align: center; /* Centrar el texto horizontalmente */
    padding: 0px; /* Añadir un relleno interno */
    margin: 0 auto; 
  }
  
  
.numeros {
  color: rgba(165, 42, 42, 0.741);
  font-size: 25px;
  background-color: rgba(179, 236, 238, 0.453);
}
.numeros:hover {
  background-color: rgb(50, 152, 158);
}

.operacion {

  color: rgb(165, 42, 42);
  font-size: 30px;
  background-color: pink;
  padding-top: 0px; /* Agregar espacio de relleno de 20 píxeles arriba del texto */
  padding-left: 5px; 
}

.operacion:hover {
  background-color: palevioletred ;
}


.bResultado{
  color: white;
  font-size: 30px;
  background-color: brown;
  padding-top: 0px; /* Agregar espacio de relleno de 20 píxeles arriba del texto */
  padding-left: 5px;
}

.bResultado:hover {
  background-color:rgb(86, 22, 22);
}

.borrar{
  color: white;
  font-size: 20px;
  background-color:rgb(211, 127, 141);
}

.borrar:hover {
  background-color: grey;;
}

 #miTabla{
  width: 450px; /* Establecer el ancho de la tabla a 400 píxeles */
  margin: auto; /* Centrar la tabla horizontalmente */
  height: 20px; 
}

#miTabla td {
  background-color: lightgray; /* Cambiar el color de fondo */
}


#miTabla .resultado {
  width: 100%; /* Mantener el ancho al 100% del contenedor */
  height: 100px; /* Ajustar la altura a 100 píxeles, por ejemplo */
  background-color: pink; /* Cambiar el color de fondo */
  text-align: center; /* Centrar el texto horizontalmente */
  padding: 50px; /* Añadir un relleno interno */
  margin: auto; /* Centrar horizontalmente */
  background-color: gray;
  color: white; /* Cambiar el color del texto */
  text-align: right; 
  font-size: 30px;
  font-weight: 500;
}

